body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#info {
  box-sizing: border-box;
  padding: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
}

#info h1 {
  margin: 0;
  font-size: 21px;
  line-height: 1;
}

#info p {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 14px;
}

#info a {
  color: inherit;
}
